<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.6/sjcl.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="{{ "/assets/background.js" | relative_url }}"></script>
<script>
	changeBackground();

	var imgs = document.images,
	    len = imgs.length,
	    counter = 0;

	[].forEach.call( imgs, function( img ) {
	    img.addEventListener( 'load', incrementCounter, false );
	} );

	function incrementCounter() {
	    counter++;
	    if ( counter === len ) {
	        changeBackground();
	    }
	}
</script>
