#phrase_form {
	padding-bottom: 10px;
}

#phrase_form input {
  width: 75%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
#phrase_form input:focus,
#phrase_form input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


.social {
  margin-bottom: 30px;
}

.social a {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.71);
}

.social a:hover {
  color: #EB6C72;
}