<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head_secret.html %}

  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/darkula.min.css">

    {% include header.html %}
    <style type="text/css">
        pre, code {
        padding: 0;
        border: none;
        border-radius: 0;
        }

        code {
        font-size: 13px;
        }

        .jsonized {
            max-width: -webkit-calc(800px);
            max-width: calc(800px);
            margin-right: auto;
            margin-left: auto;
        }
    </style>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>I am Visgean.</h1>

        {% include social.html %}

        <p>
            I have been programming for past ten years. For the last half of it I have been doing it for money.
            I have worked on fairly large projects. Most of my work was about Python. But I am open to other languages as well. Right now I am finishing some contracts. But I might be open for other opportunities when I am done. 
        </p>
      </div>

        <pre class="jsonized"><code class="json" id="contact">{
    github: "https://github.com/visgean",
    stack_overflow: "https://stackoverflow.com/users/823281/visgean-skeloru",
    linkedIn: "https://cz.linkedin.com/in/visgean",
    email: "me@visgean.me",
    jabber: "me@visgean.me",
    gpg_key: "https://visgean.me/key.asc",
    last_fm: "http://www.last.fm/user/visgean",
    good_reads: "https://www.goodreads.com/user/show/32711861-visgean-skeloru",
    blog: "http://blog.visgean.me",

    bitcoin: "https://blockchain.info/address/1NrSwh9dqBWyP8xYyjj9sUJazaNAdMEohB",
    ethereum: "https://etherscan.io/address/0x663abdde3302c5eccce0f31467604b03e0d9554c",

    technologies: [
        "Django / Geo Django", "PostgreSQL", "Ubuntu", "Debian administration", 
        "Facebook Graph API", "Bitcoin", "Ethereum", "Angular.js", "MongoDB", 
        "RethinkDB", "nginx", "Bootstrap", "materialize.css", "Unit tests", 
        "Balance and Frontend testing", "Stripe", "Braintree", "Czech Bank APIs",
    ],
    experience: {
        coex: {
            year: 2015,
            months: 14,
            website: "coex.cz",
            responsibility: "Django development of bussiness sites"
        },
        freelance: {
            "github.com/WebArchivCZ/Seeder": "Django OS project for National Library",
            "projectonaut": "My first paid work, just helping out though.",
            "topsceneries": "Our photography startup that failed, shit happens.",
            "klckrystof.cz": "Backend and servers, written in Django. ",
            "vycepnastojaka.cz": "Website for a pub, I had beers for free there!",
            "forhaus": "Another Django project, its getting boring.",
            "filtracnitechnika.cz": "Django project for an air company!",
            "irenalerman.cz": "Personal website, love those!"
        }
    },
    languages: ["Native Czech", "Proficient English", "Limited Spanish"],
    activities: {
        debating: "Debated and judged over 180 academic debates since 2009.",
        running: "Yap, I am one of those, see http://theoatmeal.com/comics/running",
        gym: "I like to angrily head-butt my crotch. Read the Oatmeal!",
        reading: "See my goodreads profile."
    },
    awards: {
        facebook: "$6500 in Security bug bounty programme, lot of money for nothing",
        dofe: "Bronze, Silver and Gold Duke of Edinburgh Award",
        debating: "Bronze, Silver and Gold Badge", 
        math: "Silver and Bronze at UK Mathematics Trust Math Challenge"
    }
}</code></pre>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad()
    </script>


    <script>
        var contact_code = $('#contact').html();
        eval('var contact = ' + contact_code + ';');

        Object.values(contact).forEach(function (value, index) {
            if (typeof(value.startsWith) !== 'undefined' && value.startsWith('http')) {
                var link = '<a target="_blank" href="'+value + '">' + value + '</a>';
                contact_code = contact_code.replace(new RegExp(value, 'g'), link)            
            }

        });

        $('#contact').html(contact_code);
    </script>


    {% include footer.html %}

  </body>

</html>