<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head_secret.html %}

  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/darkula.min.css">

    {% include header.html %}
    <style type="text/css">
        pre, code {
        padding: 0;
        border: none;
        border-radius: 0;
        }

        code {
        font-size: 13px;
        }

        .jsonized {
            max-width: -webkit-calc(800px);
            max-width: calc(800px);
            margin-right: auto;
            margin-left: auto;
        }
    </style>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>I am Visgean.</h1>

        {% include social.html %}

        {{ content }}
      </div>

        <pre class="jsonized"><code class="json" id="contact">{% include me.json %}</code></pre>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad()
    </script>


    <script>
        var contact_code = $('#contact').html();
        eval('var contact = ' + contact_code + ';');

        Object.values(contact).forEach(function (value, index) {
            if (typeof(value.startsWith) !== 'undefined' && value.startsWith('http')) {
                var link = '<a target="_blank" href="'+value + '">' + value + '</a>';
                contact_code = contact_code.replace(new RegExp(value, 'g'), link)            
            }

        });

        $('#contact').html(contact_code);
    </script>


    {% include footer.html %}

  </body>

</html>